@import "../globals/global";
@import "../globals/colors";

#wrapper{
    display: flex;
    height: calc(100vh - 50px);
    overflow: hidden;
}

::-webkit-scrollbar-track
{
    border-radius: 8px !important;
    background-image: linear-gradient(to bottom left, $color5 , $color6);
}

::-webkit-scrollbar
{
    border-radius: 8px !important;
    width: 12px;
    background-image: linear-gradient(to bottom left, $color5 , $color6);
}

::-webkit-scrollbar-thumb
{
    border-radius: 8px !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.div-link{
    width: 200px !important;
    cursor: pointer;
}

.list_component {
    margin-left:2%;
    flex : 0 0 63%;
    overflow-y : scroll;
    overflow-x:hidden;
}


.newsfeed {
    margin-right:2%;
    margin-left:3%;
    flex : 1;
    overflow-y:scroll;
}

#switch_add_bar {
    display:flex;
}

#switch_label {
    margin-left:2%;
    flex : 0 0 20%;
}

#filtrate_sort{
    flex:0 0 70%;
}

#filtrate{
    margin-right:2%;
}

#icon_add{
    flex:1;
}

@media screen and (max-width:  #{$mobile_witdh_threshold}) {
    .list_component {
        max-width: #{$mobile_witdh_threshold};
        flex : 0 0 96%;
    }
    .newsfeed{
        max-width: #{$mobile_witdh_threshold};
        flex : 0 0 96%;
    }
  }
#form{
    display:flex;
    flex-wrap: wrap;
}

#formControl_1 {
    flex : 0 0 50%;
    margin-right : 5%;
}

#formControl_2 {
    flex : 1;
}
