@import "../globals/colors";
@import "../globals/global";

.profile-card-container{
    width: 75vw;
    margin: auto;
}

.profile-card-container>div{
    margin: auto !important;
}

.profile-card-border{
    width: 100%;
    min-height: 25vh;
    border-radius: 25px;
    background: linear-gradient($color2, $color4);
}
.profile-card{
    margin: 5px 7px 5px 7px;

    background: linear-gradient($color4, $color2);
    overflow: hidden; /* will contain if #first is longer than #second */
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;
}

.profile-card>div{
    width: 50%;
    align-items: center;
    padding-right: 10vw;
    margin: auto;
}
.profile-card>div>button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
}

.profile-card>img{
    width: 50vw;
    height: 50vw;

    max-width: 200px;
    max-height: 200px;
    margin: auto;

    border: 1px solid  gray;
}

@media screen and (max-width:  #{$mobile_witdh_threshold}) {
    .profile-card-container{
        width: 100%;
    }
    .profile-card>div>button{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;
    }
}