@import "../globals/colors";

.container {
  display: flex;
  flex-wrap: wrap;
}
.container.p {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .card-container {
    position: relative;
    width: 450px;
    max-width: 85vw;
    border-radius: 4px;

    background: rgba($color: white, $alpha: 0.3) !important;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .container-readOnly {
    margin-left: 50px;
  }

  .title_container {
    background: rgba($color: #000000, $alpha: 0.6) !important;
    left: 10px;
  }

  .title {
    color: $color3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    float: left;

    padding-top: 10px;
    padding-left: 10px;
  }

  .delete_button {
    float: right;
    opacity: 0.7;

    margin-right: 10px !important;
  }

  .bar {
    width: 0;
    height: 20px;
    transition: width 0.3s;
    border-radius: 5;
    position: relative;
    text-align: center;
    background-image: linear-gradient(15deg, $color4 0%, $color3 100%);
  }

  .input_progress {
    width: 40px;
    margin-top: 5px !important;
  }

  .add_button_progress {
    height: 20px !important;
    width: 40px !important;

    background-color: $color3 !important;

    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 20px !important;
    margin-right: 5px !important;
  }

  .wrapper {
    width: 300px;
    height: auto;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .card-container {
    position: relative;
    width: 100%;
    border-radius: 4px;

    background: rgba($color: white, $alpha: 0.3) !important;

    height: 80px;

    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .container-readOnly {
    margin-left: 50px;
  }

  .title_container {
    background: rgba($color: #000000, $alpha: 0.6) !important;
    left: 10px;

    height: 35px;
  }

  .title {
    color: $color3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    float: left;
    padding-left: 10px;
  }

  .delete_button {
    float: right;
    opacity: 0.7;

    margin-right: 10px !important;
  }

  .bar {
    width: 0;
    height: 20px;

    transition: width 0.3s;
    border-radius: 5;
    position: relative;
    text-align: center;
    background-image: linear-gradient(15deg, $color4 0%, $color3 100%);
  }

  .input_progress {
    width: 40px;
    margin-right: 5px !important;
    float: right;
  }

  .add_button_progress {
    height: 20px !important;
    width: 40px !important;

    background-color: $color3 !important;
    margin-left: 10px !important;

    float: right;
  }

  .wrapper {
    width: 300px;
    max-width: 60%;

    height: auto;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.container-readOnly p {
  word-wrap: break-word;
  overflow: auto;
  white-space: pre-wrap;
  max-height: 50px;
}

.progress {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6) !important;
}

.category {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #000591;
}

.typeRepetition {
  width: auto;
  height: auto;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  color: black;
}

.default_list_component {
  height: 100%;
  margin-left: 2%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.generate_button {
  float: right;
  margin-right: 2%;
}
