@import "../globals/global";
@import "../globals/colors";

#menu {
    height: 100%;
    width:100%;
}

#avatar{
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.item{
    margin-bottom: 5%;
}

#username{
    text-align: center;
}

.MuiDrawer-paper{
    border-radius: 1%!important;
    background-image: linear-gradient(to top right, $color5 , $color6) !important;
    width:17% !important;
}

#content_body{
    margin-left:20%;
    margin-right:2%;
}