@import "./_colors.scss";

.confirmation-container {
    background-color: white;
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.5mm outset $light-purple;
    border-radius: 1.5rem;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
}