@import "./_colors.scss";

.general-goal-container{
    width: 75vw;
    //background-color: lighten($color1, 10%);
    border-radius: 15px;
}
.general-goal-input{
    width: 50vw;
    margin-left: 5vw !important;
    margin-top: 10px !important;
    margin-bottom: 25px !important;
    color: red;
}
.general-goal-button-container{
    display: flex;
    width: 75vw;
}
.general-goal-button-container > Button:first-child{
    margin-left: auto !important;
}
.general-goal-button{
    margin-left: 2vw !important;
}

@media screen and (max-width: 500px) {
    .general-goal-container{
        width: 80vw;
    }
    .general-goal-button{
        width: 100vw;
    }
    .general-goal-input{
        width: calc(90vw - 50px);
        margin-left: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 25px !important;
    }
  }