@import "./_colors.scss";

.general-goal-container{
    width: 55vw;
    background-color: lighten($color5, 40%);
    border-radius: 5px;
}
.general-goal-input{
    width: 45vw;
    margin-left: 5vw !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}
.general-goal-button-container{
    display: flex;
    width: 55vw;
}
.general-goal-button-container > Button:first-child{
    margin-left: auto !important;
}
.general-goal-button{
    margin: 2vw !important;
    background-color: $color6 !important;
}

@media screen and (max-width: 500px) {
    .general-goal-container{
        width: 100vw;
    }
    .general-goal-button{
        width: 100vw;
    }
    .general-goal-input{
        width: calc(95vw - 50px);
        margin-left: 0 !important;
        margin-top: 10px !important;
        margin-bottom: 25px !important;
    }
    .general-goal-button-container > Button:last-child{
        margin-right: auto !important;
    }
  }