@import "./_colors.scss";

.login-background {
  height: 100%;
}

.login-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-input {
  width: 80%;
  margin-top: 20px;
}

.login-button {
  width: 50% !important;
}

.help-link-register {
  text-decoration: none;
  color: black;
  &:hover {
    color: $color6;
  }
}

.Mui-error {
  color: $error_color !important;
  &:after {
    border-bottom-color: $error_color !important;
  }
}