@import "../globals/colors";
@import "../globals/global";

@media only screen and (max-width: 767px) {
  .apps-page-container {
    height: calc(100% - #{$app_bar_height});
    display: flex;
    flex-direction: column;
  }

  .page-content {
    height: calc(100% - #{$app_bar_height});
    padding: 30px;
    text-align: center;
  }

  .image-content {
    width: 70%;
  }
}


@media only screen and (min-width: 768px) {
  .apps-page-container {
    height: calc(100% - #{$app_bar_height});
    display: flex;
    flex-direction: column;
  }

  .page-content {
    height: calc(100% - #{$app_bar_height});
    padding: 30px;
    text-align: center;
  }

  .image-content {
    width: 20%;
    margin: 20px;
  }
}
